{% extends "layout.html" %}

{% block title %}
    My Books
{% endblock %}

{% block css %}


 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/book.css') }}" />


 <style>

 body {

   	/* The image used */
   	background-image: url({{ url_for('static', filename="image/bg-main.jpg") }} );

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;


 }

  .window {

  	width: 50%;
    margin: auto;

  }

  .card {

    margin-top: 2%;

  }


.star-button{

  margin-left: 1%;
  margin-right: 1%;


}

.comment-wrapper .panel-body {
      max-height:650px;
      overflow:auto;
  }

.comment-wrapper {
      width:100%;
      height:75%;
      border:2px solid #e5e7e8;
      border-bottom:1px dashed #efefef;
      margin-bottom:1%;
      margin-right: 5%
      margin-left: 5%;

  }


/* star rating */

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  /* font-size: 8em; */
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label {
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #ffca08 ;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */


/* Reviews */
.media{

  margin-right: 20%;

}

</style>

{% endblock %}

{% block body %}

<div class="window">

  <!-- /* Navbar */ -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/logcheck">Search<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav>

  <!-- /* Book info card */ -->
  <div class="card book-info text-center">
    <h1 class="card-title"> {{ book.title }}</h1>
    <h3 class="card-subtitle mb-2 text-muted"> by {{ book.author }}</h3>
    <div class="card-body">
      <p> Year of Publication: {{ book.year }}
      <br> ISBN # {{ book.isbn }} </p>
    </div>
  </div>

  <!-- /* Goodread info card */ -->
  <div class="card bg-light mb-3"">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='image/goodreads.jpeg')}}" class="card-img" alt="Goodreads">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Goodreads Info</h5>
          <p class="card-text">Average ratings: {{ goodreads.average_rating }}
          <br> Number of ratings: {{ goodreads.work_ratings_count }} </p>
        </div>
      </div>
    </div>
  </div>


  <!-- /* Add comment */ -->
  <div class="card">
    <div class="row bootstrap snippets">
      <div class="col">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-body">
              <form action="{{ url_for('book', isbn=book.isbn) }}" method="post">
          			<textarea class="form-control" placeholder="Tell us what was your experience with this book" name="review"></textarea>
                <br>
                <div class="row star-button">
                  <div class="col-12 col-sm-6 col-md-8">

                    <div class="starrating risingstar d-flex float-left flex-row-reverse">
                      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                      <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                      <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                    </div>

                  </div>
                  <div class="col-6 col-md-4 float-left">
                    <button type="submit" class="btn btn-info float-right"> Post</button>
                  </div>
                </div>
          		</form>
              <div class="clearfix">
                {{ message }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- /* Show comments */ -->
  <div class="card">
    <hr>
      {% if comments|length > 0 %}
      <ul class="media-list">
        {% for each in comments %}
          <li class="media">
            <div class="media-body">
              <strong class="text-success float-left"> @{{ each.id }}</strong>
              <span class="text-muted pull-right">
                <small class="float-right"> {{ each.date.strftime('%d-%m-%Y') }}</small>
              </span><br>
              <p> {{ each.review }} </p>
            </div>
          </li>
        {% endfor %}
      </ul>
        {% else %}
      <h3> Be the first to comment this book </h3>
      {% endif %}
  </div>
</div>

{% endblock %}
