{% include "search.html" %}

<div class="container">

  <h1>Search Results</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>

      {% for books in search_result %}

      <tr>

          <td>
            <a href="{{ url_for('book', isbn=books.isbn) }}">
            {{ books.isbn }}
            </a>
          </td>
          <td> {{ books.title }}</td>
          <td> {{ books.author }}</td>
          <td> {{ books.year }}</td>

      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>
