{% extends "layout.html" %}

{% block title %}
    Search Page
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search_style.css') }}" />

<style>

body {

  	/* The image used */
  	background-image: url("static/image/bg-main.jpg");
}

.window {

	width: 50%;
  margin: auto;

}

.container {

  margin-top: 1%;

}

.card {

  margin-top: 2%;

}

.card-title {

  padding-top: 2%;
  padding-left: 4%;

}

/* style for the lookup page*/
.results-table{

  width: 40%;
  margin: auto;

}

.result-window{

  margin-top: 1%;

}



</style>

{% endblock %}

{% block body %}
<div class="window">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav>

  <div class ="card">
    <h5 class="card-title">Look up your book by title, name or ISBN number</h5>
      <div class="card-body">
      <!-- Search form -->
      <div class="input-group md-form form-sm form-2 pl-0">
        <form class="form-inline" action="{{ url_for('lookup') }}" method="post">
          <input class="form-control my-0 py-1 amber-border"  type="text" placeholder="Seach" aria-label="Search" name="search_param">
          <div class="input-group-append">
            <button type="submit" class="btn border-left-0 border" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

{% endblock %}
